.Header {
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  width: 100%;

  div {
    width: auto;
    display: flex;
    position: relative;
    &.left {
      a:hover {
        background-color: $orange;
      }
    }
    ._color {
      margin: 0;
      position: absolute;
      width: auto;
      height: 100%;
      background-color: $green;
    }

    a {
      text-decoration: none;
      &.e-mail {
        &:after {
          content: "e-mail";
        }
        &:hover:after {
          content: "za.iz.pr@yandex.kz";
          background-color: $orange;
        }
      }
      & + a {
        margin-left: 20px;
      }
      // svg {
      //   width: 40px;
      //   height: 40px;
      //   path {
      //     fill: $black;
      //   }
      //   &:hover path {
      //     fill: $main;
      //   }
      // }
    }
    p + p {
      margin-left: 20px;
    }
  }
}
