.Main {
  width: 100%;
  .Filter {
    width: 100%;
    height: 20px;
    margin: 90px 0 60px;
    display: flex;
    justify-content: center;
    div {
      width: auto;
      position: relative;
      &.tag {
        &.false {
          padding-right: 24px;
        }
        &.true {
          .content svg {
            display: block;
          }
          ._color {
            &.i0 {
              background-color: $ping;
            }
            &.i1 {
              background-color: $orange;
            }
            &.i2 {
              background-color: $green;
            }
          }
        }
        &:hover {
          cursor: pointer;
        }
        & + .tag {
          margin-left: 70px;
        }
        .content {
          z-index: 2;
          padding: 0 3px 0 8px;
          display: flex;
          align-items: center;
          p {
            user-select: none;
            margin-right: 10px;
            width: auto;
            font-size: 21px;
          }
          svg {
            opacity: 0.3;
            display: none;
          }
        }
        ._color {
          top: 0;
          left: 0;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-color: white;
          border-radius: 1px;

          &.i0 {
            transform: rotate(2.28deg);
          }
          &.i1 {
            transform: rotate(-2.78deg);
          }
          &.i2 {
            transform: rotate(2.14deg);
          }
        }
      }
    }
  }

  .ProjectCard {
    display: block;
    height: 200px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 0px 20px 0px #00000014;
    position: relative;
    cursor: pointer;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;

    &.fac {
      background-image: url("../../assets/pages/fac/cover.png");
      background-color: #90a56d;
      h3 {
        color: #ffffff;
      }
    }
    &.frogs {
      background-image: url("../../assets/pages/frogs/cover.png");
      background-color: #90a56d;
    }
    &.hogwarts {
      background-image: url("../../assets/pages/hogwarts/cover.png");
      background-color: #e2d3a8;
    }
    &.village {
      background-image: url("../../assets/pages/vill/cover.png");
      background-color: #b4bcaa;
    }
    &.fysci {
      background-image: url("../../assets/pages/fysci/cover.png");
      background-color: #f3f3f3;
    }

    .content {
      display: flex;
      flex-direction: column;
      h3 {
        font-weight: 300;
        font-size: 25px;
        line-height: 30px;
      }
      .tagCollection {
        margin-top: 15px;
        p {
          padding: 3px 20px;
          width: auto;
          border-radius: 1px;
          transform: rotate(2deg);
          &.i0 {
            background-color: $ping;
            transform: rotate(2.28deg);
          }
          &.i1 {
            background-color: $orange;
            transform: rotate(-2.78deg);
          }
          &.i2 {
            background-color: $green;
            transform: rotate(2.14deg);
          }
          & + p {
            margin-left: 5px;
          }
        }
      }
      position: absolute;
      left: 30px;
      bottom: 35px;
    }

    & + .ProjectCard {
      margin-top: 40px;
    }

    &:hover {
      box-shadow: 0px 0px 20px 0px #00000050;
    }
  }
}
