.Project {
  width: 100%;
  margin-top: 60px;
  &.i0 ._color {
    background-color: $ping;
  }
  &.i1 ._color {
    background-color: $orange;
  }
  &.i2 ._color {
    background-color: $green;
  }
  .head {
    .header {
      width: auto;
      position: relative;
      .content {
        z-index: 10;
        position: inherit;
        .back {
          position: absolute;
          top: 5px;
          left: -70px;
          z-index: 10;
          svg {
            cursor: pointer;
            width: 41px;
            height: 44px;
          }
        }
        h1 {
          display: block;
          font-size: 52px;
          margin-bottom: 60px;
        }
      }
      ._color {
        z-index: 0;
        position: absolute;
        // background-color: $main-color;
        width: calc(100% + 82px);
        height: 48%;
        transform: rotate(-1.5deg);
        top: 0;
        left: -63px;
      }
    }
    .info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      p {
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
        line-height: 140%;
      }
      .tags {
        text-align: right;
        .tagsBlock {
          width: 80%;
          margin-top: -10px;
          p {
            width: 100%;
            text-align: right;
            line-height: normal;
            margin-bottom: 7px;
          }
          .tagCollection {
            text-align: right;
            width: 100%;
            .tag {
              margin-top: 10px;
              margin-bottom: 0;
              width: auto;
              display: inline-block;
              padding: 3px 20px;
              border-radius: 1px;
              background-color: $main;
              &:nth-of-type(2n + 1) {
                transform: rotate(1deg);
              }

              & + .tag {
                margin-left: 5px;
              }
            }
            a + a {
              margin-top: 5px;
            }
          }
          & + .tagsBlock {
            margin-top: 30px;
          }
        }
      }
      .linksCollection {
        margin-top: 40px;
        text-align: end;
      }
    }
  }
  .works {
    width: 100%;
    margin-top: 65px;
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    h3 {
      font-size: 25px;
      margin-bottom: 15px;

      & + img {
        margin-top: 15px;
      }
      &::before,
      &::after {
        content: "—";
        width: 10px;
        height: 20px;
        color: blue;
        margin: 0 10px;
      }
    }
    img {
      width: 100%;
      height: auto;
      box-shadow: 0px 0px 20px 0px #00000014;
      border-radius: 3px;
      object-fit: cover;
      background-color: $gray;
      & + img {
        margin-top: 30px;
      }
      & + h2 {
        margin-top: 40px;
      }
      & + h3 {
        margin-top: 40px;
      }
    }
  }
  // &.FAC {
  //   background-color: #222127;
  //   color: $white;
  // }
}
